/*
               Black:  #101820
 Cherry Tomato (red):  #E94B3CFF
*/

/* -- Html -- */

html{
    font-family: Poppins, 'sans-serif';
    background-color: #E94B3CFF;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Kaart -- */

main{
    width: 450px;
    height: 600px;
    perspective: 600px;
}
.kaart{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.style{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.omdraaien{
    transform: rotateY(540deg);
}

/* -- Voorkant -- */

.voorkant{
    width: 100%;
    background-color: #101820;

    align-items: center;
    box-shadow: 0 0 0.75em black;
  
}
.voorkant img{
    width: 28%;
    margin: 40px 0 10px 170px;
    position: absolute;
}
.voorkant h1{
    color: #E94B3CFF;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    margin: 200px 0 0 100px;
}
.voorkant h2{
    font-variant: small-caps;
    font-size: 1.1em;
    color: white;
    margin-top: 7px;
    position: absolute;
    margin: 235px 0 0 115px;
}
.voorkant h3{
    font-variant: small-caps;
    font-size: .8em;
    color: white;
    margin-top: 7px;
    position: absolute;
    margin: 255px 0 0 115px;
}
.voorkant #text{
    font-size: 0.9em;
    width: 80%;
    color: white;
    margin-top: 25px;
    margin-bottom: 35px;
}
.voorkant button{

    width: 150px;
    height: 40px;
    background-color: #E94B3CFF;
    border-radius: 20px;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 1em;
}
.voorkant button:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}
.voorkant #header{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

 
.websites,
.web-pages {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    background-color: #E94B3CFF;
    border-radius: 20px;
    color: black;
    border: none;
    font-weight: bold;
    font-size: .8em;
}
.websites {
    margin: 30px 0 0 20px;
}
.web-pages {
    margin: 30px 0 0 330px;
}


.skill{
    position: absolute;
    margin: 300px 0 0 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill span{
    color: #E94B3CFF;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 0.6em;
}
.adobe{
    position: absolute;
    margin: 320px 0 0 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
.adobe span{
    color: #E94B3CFF;
    margin-left: 4px;
    margin-right: 4px;
    
}
#locatie{
    width: 100%;
    
}
#locatie i{
    color: #E94B3CFF;
}

/* -- Social -- */


#link1 {
    position: absolute;
    margin: 420px 0 0 150px;

}
#link2 {
    position: absolute;
    margin: 420px 0 0 270px;

}
#link3 {
    position: absolute;
    margin: 420px 0 0 210px;

}
#social a{
    font-size: 1.2em;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #E94B3CFF;
    color: black;
    
}
#social a:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}
.locatie {
    position: absolute;
    margin: 360px 0 0 150px;
}
.contact {
    position: absolute;
    margin: 450px 0 0 150px;
}

.tab {
    overflow: hidden;
   
  }
  .tablinks {
    position: absolute;
    margin: 350px 0 0 60px;

  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tabcontent {
    display: none;
    border-top: none;
    position: absolute;
    margin: 275px 0 0 30px;
  }

/* -- Achterkant -- */

.achterkant{
    width: 100%;
    background-color: #101820;
    transform: rotateY(180deg);
    box-shadow: 0 0 0.75em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.achterkant #draaien{
    color: #E94B3CFF;
    font-size: 2em;
    margin-top: 50px;
}

/* -- Contact -- */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 50px;
}
form h1{
    color: white;
    font-size: 2em;
    border-bottom: 1px solid #E94B3CFF;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
form h2{
    color: white;
    text-align: left;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 5px;
}
form span{
    color: #E94B3CFF;
    margin-left: 5px;
}
label {
    color: white;
}
input[type=text]{
    width: 100%;
    border: none;
    background-color: #E94B3CFF;
    color: white;
    font-weight: bold;
    outline: none;
    font-size: 1.2em;
}
input[type=submit]{
    width: 50%;
    height: 40px;
    background-color: #E94B3CFF;
    border-radius: 20px;
    color: black;
    border: none;
    margin-top: 25px;
    font-weight: bold;
    font-size: 1em;
}
input[type=submit]:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}
