body {
    font-family: Lato;
}

#ionic {
    background-color: #EFEFEF;
}

.parallax {
    /* The image used */
    background-image: url("../images/bg_para.jpg");
    /* Set a specific height */
    height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blauwebalk {
    font-size: 0.6em;
}

#at {
    color: white;
}

footer {
    background-color: #292b2c;
    color: #808080;
    color: #ccc
}

.navtekstgrote {
    font-size: 1em;
}